* {
  margin: 0;
  padding: 0;
  outline: none;
}

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color:#ecedee
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #CCC;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #6dc0c8;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{
  width: 6px;
}

html {
  overflow-x: hidden;
}

.body {
  margin: 0;
  background-color: #E5E5E5;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Roboto", sans-serif;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
  background-image: url(/static/media/WHS-logo.7bb2401e.7bb2401e.svg);
  background-position: 70% 0;
  background-repeat: no-repeat;
}

@media (max-width: 1025px) {
  .header {
    background-position: 80% 0;
  }
}

@media (max-width: 930px) {
  .header {
    background-position: 80% 0;
  }
}

@media (max-width: 830px) {
  .header {
    background-position: 85% 0;
  }
}

@media (max-width: 650px) {
  .header {
    background-position: 88% 50%;
    background-size: 12%;
  }
}

@media (max-width: 550px) {
  .header {
    background-position: 83% 50%;
    background-size: 12%;
  }
}

@media (max-width: 450px) {
  .header {
    background-position: 95% 50%;
    background-size: 15%;
  }
}


.header__link {
  margin: 0 60px 0 0;
  padding: 13px 32px 13px 32px;

  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

@media (max-width: 525px) {
  .header__link {
    margin: 0 30px 0 0;
    padding: 8px 15px;
  }
}

.header__about-me {
  border: 2px solid #356EFF;
  background-color: #356EFF;
  color: white;
  border-radius: 37px;

}

.header__todos {
  border: 2px solid #356EFF;
  background-color: #356EFF;
  color: white;
  border-radius: 37px;
}

.content {
  display: flex;
  font-family: "Roboto", sans-serif;
}