.container {
    width: 100%;
    height: 100%;
    max-height: 450px;
    min-width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todoHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todoHeaderTitle {
    font-size: 28px;
}


@media (max-width: 768px) {
    .container {
        min-width: 500px;
    }
}

@media (max-width: 625px) {
    .container {
        min-width: 400px;
        margin: 0 20px;
    }
    .todoHeaderTitle {
        font-size: 24px;
    }
    .todoHeader {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .container {
        min-width: 300px;
        margin: 0 20px;
    }
}


@media (max-width: 420px) {
    .container {
        min-width: 200px;
        margin: 0 5px;
    }
}


