.ItemListWrap {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    overflow-y: scroll;
}

.ItemListWrapEmpty {
    height: 300px;

    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-image: url("./assets/todo-nullItem.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 695px) {
    .ItemListWrap {
        height: 250px;
    }
}
